[submodule "sub/plain-config"]
	path = sub/plain-config
	url = https://github.com/mennucc/plain-config.git
[submodule "sub/wrap_lockfile"]
	path = sub/wrap_lockfile
	url = https://github.com/mennucc/wrap_lockfile.git
